@page
@model testWeb.Pages.ConfirmEmailModel
@{
}

@if(Model.errorMsg != null)
            {
                <p>@Model.errorMsg</p>
            }
<br />
<div>
    <form method="post" asp-page-handler="Submit">
        <label>Enter code that was send to your email !</label><br />
        <input type="text" id="confirm" name="confirm"/><br />
        <button type="submit">Submit</button><br />
    </form>
    <form method="post" asp-page-handler="Resend">
        <button type="submit">Resend email</button><br />
    </form>
    <form method="post" asp-page-handler="Back">
        <button type="submit">Back to log in</button>
    </form>
   
</div>
