@page
@model testWeb.Pages.LogInModel
@{
}

<div class="text-center">
    <h1>Log in</h1>
</div>
@if(Model.errorMsg != null)
            {
    <p>@Model.errorMsg</p>
            }
<div>
    <form method="post">
        <label>Username</label>
        <input type="text" id="username" name="username" /><br />
        <label>Password</label>
        <input type="password" id="password" name="password" /><br />
        <input type="submit" value="Log In" /><br />
        
    </form>
    <a asp-page="/ResetPassword">Forgot password ?</a>
    <button type="button" class="btn btn-cta"><a asp-page="/Index">Back to register</a></button>
</div>
