@page
@model testWeb.Pages.ResetPasswordModel
@{
}

<div class="text-center">
    <h2>Reset password</h2>
</div>
<div>
    <form method="post">
        <label>Username</label>
        <input type="text" id="username" name="username" /><br />
        <label>Password</label>
        <input type="text" id="password" name="password" /><br />
        <label>Confirm password</label>
        <input type="text" id="confirmPass" name="confirmPass" /><br />
        <input type="submit" value="Save" /><br />
    </form>
</div>