@page
@model testWeb.Pages.ResetPasswordModel
@{
}

<div class="text-center">
    <h2>Reset password</h2>
</div>
<div>
    <form method="post">
        <label>Enter email address</label>
        <input type="text" id="email" name="email" /><br />
        <input type="submit" value="Send new password" /><br />
    </form>
    <a href="/LogIn">Back to log in</a><br />
</div>