@page
@model testWeb.Pages.SettingsModel
@{
}

<!DOCTYPE html>
<html>
<div>
    <form method="post" asp-page-handler="IncorrectPass">
        <label>Number of incorrect attempts to log in</label>
        <input type="text" id="number" name="number" />
        <br />
        <label>For how long user will be lockout after incorrect attempts in seconds</label>
        <input type="text" id="time" name="time" />
        <br />

        <button type="submit" id="set">Set settings</button>
    </form>
</div>
<div>
    <form method="post" asp-page-handler="LinkExpiration">
        <label>How much time the link will be active before expire in minutes</label>
        <input type="text" id="expireTime" name="expireTime" />
        <br />
        <button type="submit" id="save">Set setting</button>
    </form>
</div>
</html>
